<h2>Product List</h2>
  <a [routerLink]="['/create-product']">Thêm sản phẩm</a>

<input [(ngModel)]="filterText" placeholder="Filter by name" />

<table>
  <thead>
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>Price</th>
      <th>Status</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let product of filterProducts()">
      <td>{{ product.id }}</td>
      <td>{{ product.name }}</td>
      <td>{{ product.price | vnd }}</td>
      <td [ngStyle]="{ color: product.inStock ? 'green' : 'red' }">
        {{ product.inStock ? 'In Stock' : 'Out of Stock' }}
      </td>
      <td>
        <a [routerLink]="['/product', product.id]">Xem chi tiết</a>
      </td>
    </tr>
  </tbody>
</table>
